* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Courier New' 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    color: #333;
    line-height: 1.4;
}

.banner img {
    width: 100%;
    height: 390px;
    object-fit: cover;
}

header{
    background-color: #ff5e57;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
}

.about-section h2{
    padding: 20px;
    font-size: 30px;
    color: #ff5e57;
    margin-bottom: 20px;
    text-align: center;
}

.aboutcontent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.menu-section{
    padding: 40px 20px;
    text-align: center;
    background-color: fff0e6;
}

.menu-section h2{
    font-size: 30px;
    color: #ff5e57;
    margin-bottom: 30px;
}

.menu-item{
    display: inline-block;
    width: 220px;
    margin: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(red, green, blue);
    padding: 20px;
}

.menu-image{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 12px;
}

.dish-name{
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #222;
}

button{
    background-color: #ff5e57;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover{
    background-color:#ff5e57 ;
}

footer{
    background-color: #ff5e57;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
}

footer a{
    color: white;
    text-decoration: underline;
    margin: 0 8px;
}

.logo{
    height: 260px;
    width: 260px;
    object-fit: cover;
    border-radius: 500px;
    margin-left: 42%;
    padding: 20px;
    
}

.about-text{
    flex: 1;
    font-size: 18px;
    line-height: 1.6;
    margin-left: 40px;
    margin-right: 40px;
}


.line{
    border: none;
    height: 3px;
    background-color: black;
    margin: 20px 0;
}